body {
    overflow: hidden;
}

#screen {
    overflow: hidden;
}

.image_toolbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 2147483647;
}

.spanSlide {
    position: absolute;
    font-size: 1px;
    overflow: hidden;
}

.imgSlide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#toolbar {
    width: 100%;
    position: relative;
    z-index: 2147483647;
}

#gallery_btn {
    margin: 4px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 100%;
}

#gallery_btn.on {
    background: url('../images/pause.png') no-repeat 0 0;
    background-size: 100%;
}

#gallery_btn.off {
    background: url('../images/play.png') no-repeat 0 0;
    background-size: 100%;
}

#audio_btn {
    margin: 4px;
    display: inline-block;
    width: 32px;
    height: 32px;
    float: right;
    background: url('../images/music.png') no-repeat 0 0;
    background-size: 100%;
}

#audio_btn.on {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}